{% extends "gateway_base.html" %}

{% block gateway_title %}Reset password &mdash; Archiosk{% endblock %}
{% block gateway_card_modifier %} gateway-card-compact{% endblock %}
{% block gateway_body %}
<form method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <div class="gateway-field">
        <label for="new_password">New password</label>
        <input type="password" id="new_password" name="new_password" class="text-input" required autofocus minlength="8">
    </div>
    <div class="gateway-field">
        <label for="confirm_password">Confirm new password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="text-input" required minlength="8">
    </div>
    <button type="submit" class="btn btn-primary gateway-signin-button">Set new password</button>
</form>
{% endblock %}
